{
  "tokens": {
    "base": {
      "symbol": "SOL",
      "address": "So11111111111111111111111111111111111111112",
      "decimals": 9
    },
    "anchor": {
      "symbol": "USDC",
      "address": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
      "decimals": 6
    }
  },
  "filters": {
    "minLiquidity": 10000
  }
}
